/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn { 
	display: inline-block;
	vertical-align: middle;
	transition: ease-in-out .3s;

	&:hover {

	}
}
