/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */

[class^="ico-"] {
	background-image: url(images/sprite.png);
	display: inline-block;
	vertical-align: middle;
}
